<main class="form-signin">
  <img
    class="mb-4"
    src="/assets/brand/bootstrap-logo.svg"
    alt=""
    width="72"
    height="57"
  />
  <h1 class="h3 mb-3 fw-normal">Silahkan login</h1>
  <div class="status"></div>
  <form action="/auth/login" method="post" id="form-login">
    <div class="form-floating">
      <input
        type="email"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
        name="email"
      />
      <label for="floatingInput">Alamat Email</label>
    </div>
    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
        name="password"
      />
      <label for="floatingPassword">Kata Sandi</label>
    </div>

    <!-- <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me" /> Remember me
            </label>
          </div> -->
    <button class="w-100 btn btn-lg btn-primary loading" type="submit">
      Masuk
    </button>
  </form>
  <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
</main>

<script type="text/javascript">
  $(document).ready(function () {
    $("button[type=submit]").click(function (e) {
      e.preventDefault();
      $.ajax({
        url: $("#form-login").attr("action"),
        type: "post",
        datType: "json",
        data: $("#form-login").serialize(),
        beforeSend: function () {
          $(this).html(`<span
                          class="spinner-border spinner-border-sm"
                          role="status"
                          aria-hidden="true"></span>`);
        },
        success: function (res) {
          if (!res.status) {
            let err = [];
            $.each(res.message, function (i, val) {
              err += val + "\n";
            });

            $(".status").html(
              `<div
                class="alert alert-danger alert-dismissible fade show"
                role="alert"
              >
                ` +
                err +
                `
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="alert"
                  aria-label="Close"
                ></button>
              </div>`
            );

            // $(".status").html(
          }
        },
      });
    });
  });
</script>
