<div class="mb-3">
  <div class="btn btn-grad btn-grad-primary btn-sm btn-add-device">Tambah</div>
</div>
<div class="card shadow mb-4">
  <div
    class="
      card-header
      py-3
      d-flex
      flex-row
      align-items-center
      justify-content-between
    "
  >
    <h6 class="m-0 font-weight-bold text-primary">Daftar Perangkat</h6>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>No</th>
          <th>ID Perangkat</th>
          <th>No HP</th>
          <th>Status</th>
          <th class="text-center">Aksi</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Xiomi</td>
          <td>0821763637</td>
          <td>
            <div class="badge badge-success py-2">Terhubung</div>
          </td>
          <td class="text-center">
            <div class="btn-group btn-group-sm">
              <div class="btn btn-success scan-qrcode">
                <i class="bi bi-qr-code"></i>
              </div>
              <div class="btn btn-danger">
                <i class="bi bi-trash-fill"></i>
              </div>
              <div class="btn btn-warning">
                <i class="bi bi-pencil-fill"></i>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal QR SCAN -->
<div class="modal fade" id="modal-qrcode" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-gray-800">SCAN QRCODE</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img
          src="https://www.researchgate.net/profile/Hafiza-Abas/publication/288303807/figure/fig1/AS:311239419940864@1451216668048/An-example-of-QR-code.png"
          alt="qrcode"
          class="img-thumbnail w-100"
        />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Tutup
        </button>
      </div>
    </div>
  </div>
</div>

<!-- modal add devices -->
<div class="modal fade" id="modal-add-device" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-gray-800">Tambah Perangkat</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-gray-800">
        <form action="">
          <div class="form-group">
            <label for="id-device">Nama perangkat</label>
            <input type="text" class="form-control" id="id-device" />
          </div>
          <div class="form-group">
            <label for="phone">Nomor HP</label>
            <input type="text" class="form-control" id="phone" />
          </div>
          <div class="form-group">
            <label for="description">Deskripsi</label>
            <textarea
              name="description"
              class="form-control"
              id="description"
              rows="3"
            ></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Tutup
        </button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    $(".scan-qrcode").click(function () {
      $("#modal-qrcode").modal("show");
    });

    $(".btn-add-device").click(function () {
      $("#modal-add-device").modal("show");
    });
  });
</script>
